{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="/static/uploader.css">
<div class="row mb-3">
    <form enctype="multipart/form-data" method="post" class="row" id="uploadedfile_form">{% csrf_token %}
        <div id="userSpecifiedDiv"></div>
    </form>
</div>

{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    class S3FileFieldClient {
        constructor(options) {
            const { baseUrl } = options;
            this.csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            this.api = axios.create({
                baseURL: baseUrl.replace(/\/?$/, '/'),
                headers: { 'X-CSRFToken': this.csrftoken }
            });
            this.onProgress = options.onProgress;
            this.onCompleted = options.onCompleted;
            this.onError = options.onError;
        }

        async initializeUpload(file, fieldId) {
            const response = await this.api.post('upload-initialize/', {
                field_id: fieldId,
                file_name: file.name,
                file_size: file.size
            });
            return response.data;
        }

        async uploadParts(file, parts) {
            const uploadedParts = [];
            let fileOffset = 0;
            for (const part of parts) {
                const chunk = file.slice(fileOffset, fileOffset + part.size);
                const response = await this.api.put(part.upload_url, chunk, {
                    onUploadProgress: (e) => {
                        const loaded = e.loaded;
                        this.onProgress({
                            ...e,
                            loaded,
                            total: file.size,
                            percentage: fileOffset + e.loaded,
                        }, file);
                    }
                });
                uploadedParts.push({
                    part_number: part.part_number,
                    size: part.size,
                    etag: response.headers.etag
                });
                fileOffset += part.size;
            }
            return uploadedParts;
        }

        async completeUpload(multipartInfo, parts) {
            const response = await this.api.post('upload-complete/', {
                upload_signature: multipartInfo.upload_signature,
                upload_id: multipartInfo.upload_id,
                parts
            });

            const { complete_url: completeUrl, body } = response.data;
            await axios.post(completeUrl, body, {
                headers: { 'Content-Type': null }
            });
        }

        async finalize(multipartInfo) {
            const response = await this.api.post('finalize/', {
                upload_signature: multipartInfo.upload_signature
            });
            return response.data.field_value;
        }

        async uploadFile(file, fieldId) {
            try {
                const multipartInfo = await this.initializeUpload(file, fieldId);
                const parts = await this.uploadParts(file, multipartInfo.parts);
                await this.completeUpload(multipartInfo, parts);
                const value = await this.finalize(multipartInfo);
                return value;
            } catch (e) {
                console.error('Error uploading file:', e.message);
                this.onError(e, file);
            }
        }
    }

    class FileUploader {
        constructor(divId) {
            this.fileInput = null;
            this.section = document.getElementById(divId);
            this.progressBox = this.createProgressBox();
            this.files = new Map();
            this.FILE_STATUS = {
                PENDING: 'pending',
                UPLOADING: 'uploading',
                PAUSED: 'paused',
                COMPLETED: 'completed',
                FAILED: 'failed',
            };
            this.uploadedFileId = [];
        }

        init(options = {}) {
            this.options = options;
            this.configureFileInput();
            this.fileInput.addEventListener('change', this.trackUploadedFiles.bind(this));
        }

        configureFileInput() {
            const input = document.createElement('input');
            input.type = 'file';
            input.id = 'id_file';
            input.name = 'file';
            input.style.display = 'none';
            input.setAttribute('accept', this.options.fileAccept || 'image/*');
            if (this.options.multiple) {
                input.multiple = true;
            }
            const label = document.createElement('label');
            label.htmlFor = input.id;
            label.id = 'file-target';
            label.className = 'upload-btn';
            label.textContent = this.options.title || 'Upload File';

            label.appendChild(input);

            const specifiedDiv = this.section;
            specifiedDiv.appendChild(label);

            this.fileInput = input;
        }

        createProgressBox() {
            const progressBox = document.createElement('div');
            progressBox.className = 'upload-progress-tracker';
            progressBox.innerHTML = `
                <h3>Uploading 0 Files</h3>
                <div class="file-progress-wrapper"></div>
            `;
            return progressBox;
        };

        updateFileElement(fileObject) {
            const fileDetails = fileObject.element.querySelector('.file-details');
            const status = fileDetails.querySelector('.status');
            const progressBar = fileDetails.querySelector('.progress-bar');

            requestAnimationFrame(() => {
                status.textContent = fileObject.status === this.FILE_STATUS.COMPLETED
                    ? fileObject.status
                    : `${Math.round(fileObject.percentage)}%`;
                status.className = `status ${fileObject.status}`;
                progressBar.style.width = fileObject.percentage + '%';
                progressBar.style.background =
                    fileObject.status === this.FILE_STATUS.COMPLETED
                        ? 'green'
                        : fileObject.status === this.FILE_STATUS.FAILED
                            ? 'red'
                            : '#222';
            });
        };

        setFileElement(file) {
            const extIndex = file.name.lastIndexOf('.');
            const fileElement = document.createElement('div');
            fileElement.className = 'file-progress';
            fileElement.dataset.file = file.name;
            fileElement.innerHTML = `
            <div class="file-details" style="position: relative">
                <p>
                    <span class="status">pending</span>
                    <span class="file-name">${file.name.substring(0, extIndex)}</span>
                    <span class="file-ext">${file.name.substring(extIndex)}</span>
                </p>
                <div class="progress-bar" style="width: 0;"></div>
            </div>`;
            this.files.set(file, {
                element: fileElement,
                size: file.size,
                status: this.FILE_STATUS.PENDING,
                percentage: 0,
            });
            this.progressBox.querySelector('.file-progress-wrapper').appendChild(fileElement);
        };

        onProgress(e, file) {
            const fileObj = this.files.get(file);
            if (!fileObj) {
                return;
            }
            fileObj.status = this.FILE_STATUS.UPLOADING;
            fileObj.percentage = (e.loaded / e.total) * 100;
            this.updateFileElement(fileObj);
        };

        onError(e, file) {
            const fileObj = this.files.get(file);

            fileObj.status = this.FILE_STATUS.FAILED;
            fileObj.percentage = 100;
            this.updateFileElement(fileObj);
        };

        onCompleted(file) {
            const fileObj = this.files.get(file);

            fileObj.status = this.FILE_STATUS.COMPLETED;
            fileObj.percentage = 100;
            this.updateFileElement(fileObj);
        };

        trackUploadedFiles(event) {
            const uploadedFiles = event.target.files;
            this.s3ffClient = new S3FileFieldClient({
                baseUrl: 'http://localhost:8000/api/s3-upload/',
                onCompleted: (e, file) => this.onCompleted(e, file),
                onError: (e, file) => this.onError(e, file),
                onProgress: (e, file) => this.onProgress(e, file),
            });

            [...uploadedFiles].forEach(async (file) => {
                this.setFileElement(file);
                const fieldValue = await this.s3ffClient.uploadFile(file, 'core.UploadedFile.file');

                if (fieldValue) {
                    const apiPath = 'http://localhost:8000/api/resources/';

                    (async () => {
                        try {
                            const response = await this.s3ffClient.api.post(apiPath, {
                                file: fieldValue,
                            });
                            const dataId = response.data.id;
                            this.uploadedFileId.push(dataId);

                            this.onCompleted(file);
                        } catch (error) {
                            this.onError(error, file);
                            console.error('Error uploading file:', error.message);
                        }
                    })();
                }
            });
            document.body.appendChild(this.progressBox);
        };

        getUploadedFileId() {
            return this.uploadedFileId;
        }
    }
    const upload = new FileUploader('userSpecifiedDiv');
    upload.init({
        fileAccept: '*/*',
        multiple: true,
        title: 'Upload Files',
    });

</script>
{% endblock %}