{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="/static/uploader.css">
<div class="row mb-3">
    <form enctype="multipart/form-data" method="post" class="row" id="uploadedfile_form">{% csrf_token %}
        <label for="id_file" id="file-target" class="upload-btn">
            Choose Or Drop Files
            <input type="file" id="id_file" name="file" accept="video/*" multiple style="display: none;">
        </label>
    </form>
</div>

{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

{% endblock %}