{% extends 'base.html' %}
{% load static %}

{% block body %}
<link rel="stylesheet" href="/static/uploader.css">
<div class="row mb-3">
    <form enctype="multipart/form-data" method="post" class="row" id="uploadedfile_form">{% csrf_token %}
        <label for="id_file" id="file-target" class="upload-btn">
            Choose Or Drop Files
            <input type="file" id="id_file" name="file" accept="video/*" multiple style="display: none;">
        </label>
    </form>
</div>

{% endblock %}

{% block javascript %}
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>
    class S3FileFieldClient {
        constructor(options) {
            const { baseUrl } = options;
            this.csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
            this.api = axios.create({
                baseURL: baseUrl.replace(/\/?$/, '/'),
                headers: { 'X-CSRFToken': this.csrftoken }
            });
            this.onProgress = options.onProgress;
            this.onCompleted = options.onCompleted;
            this.onError = options.onError;
        }

        async initializeUpload(file, fieldId) {
            const response = await this.api.post('upload-initialize/', {
                field_id: fieldId,
                file_name: file.name,
                file_size: file.size
            });
            return response.data;
        }

        async uploadParts(file, parts) {
            const uploadedParts = [];
            let fileOffset = 0;
            for (const part of parts) {
                const chunk = file.slice(fileOffset, fileOffset + part.size);
                const response = await this.api.put(part.upload_url, chunk, {
                    onUploadProgress: (e) => {
                        const loaded = e.loaded;
                        this.onProgress({
                            ...e,
                            loaded,
                            total: file.size,
                            percentage: fileOffset + e.loaded,
                        }, file);
                    }
                });
                uploadedParts.push({
                    part_number: part.part_number,
                    size: part.size,
                    etag: response.headers.etag
                });
                fileOffset += part.size;
            }
            return uploadedParts;
        }

        async completeUpload(multipartInfo, parts) {
            const response = await this.api.post('upload-complete/', {
                upload_signature: multipartInfo.upload_signature,
                upload_id: multipartInfo.upload_id,
                parts
            });

            const { complete_url: completeUrl, body } = response.data;
            await axios.post(completeUrl, body, {
                headers: { 'Content-Type': null }
            });
        }

        async finalize(multipartInfo) {
            const response = await this.api.post('finalize/', {
                upload_signature: multipartInfo.upload_signature
            });
            return response.data.field_value;
        }

        async uploadFile(file, fieldId) {
            try {
                const multipartInfo = await this.initializeUpload(file, fieldId);
                const parts = await this.uploadParts(file, multipartInfo.parts);
                await this.completeUpload(multipartInfo, parts);
                const value = await this.finalize(multipartInfo);
                this.onCompleted(file)
            } catch (e) {
                console.error('Error uploading file:', e.message);
                this.onError(e, file);
            }
        }
    }

    class FileUploader {
        constructor() {
            this.files = new Map();
            this.FILE_STATUS = {
                PENDING: 'pending',
                UPLOADING: 'uploading',
                PAUSED: 'paused',
                COMPLETED: 'completed',
                FAILED: 'failed',
            };
            this.progressBox = this.createProgressBox();
        }

        createProgressBox() {
            const progressBox = document.createElement('div');
            progressBox.className = 'upload-progress-tracker';
            progressBox.innerHTML = `
                <h3>Uploading 0 Files</h3>
                <div class="file-progress-wrapper"></div>
            `;
            return progressBox;
        }

        updateFileElement(fileObject) {
            const fileDetails = fileObject.element.querySelector('.file-details');
            const status = fileDetails.querySelector('.status');
            const progressBar = fileDetails.querySelector('.progress-bar');

            requestAnimationFrame(() => {
                status.textContent = fileObject.status === this.FILE_STATUS.COMPLETED
                    ? fileObject.status
                    : `${Math.round(fileObject.percentage)}%`;
                status.className = `status ${fileObject.status}`;
                progressBar.style.width = fileObject.percentage + '%';
                progressBar.style.background =
                    fileObject.status === this.FILE_STATUS.COMPLETED
                        ? 'green'
                        : fileObject.status === this.FILE_STATUS.FAILED
                            ? 'red'
                            : '#222';
            });
        }

        setFileElement(file) {
            const extIndex = file.name.lastIndexOf('.');
            const fileElement = document.createElement('div');
            fileElement.className = 'file-progress';
            fileElement.dataset.file = file.name;
            fileElement.innerHTML = `
            <div class="file-details" style="position: relative">
                <p>
                    <span class="status">pending</span>
                    <span class="file-name">${file.name.substring(0, extIndex)}</span>
                    <span class="file-ext">${file.name.substring(extIndex)}</span>
                </p>
                <div class="progress-bar" style="width: 0;"></div>
            </div>`;
            this.files.set(file, {
                element: fileElement,
                size: file.size,
                status: this.FILE_STATUS.PENDING,
                percentage: 0,
            });
            this.progressBox.querySelector('.file-progress-wrapper').appendChild(fileElement);
        }

        onProgress(e, file) {
            const fileObj = this.files.get(file);
            if (!fileObj) {
                return;
            }
            fileObj.status = this.FILE_STATUS.UPLOADING;
            fileObj.percentage = (e.loaded / e.total) * 100;
            this.updateFileElement(fileObj);
        }

        onError(e, file) {
            const fileObj = this.files.get(file);

            fileObj.status = this.FILE_STATUS.FAILED;
            fileObj.percentage = 100;
            this.updateFileElement(fileObj);
        }

        onCompleted(file) {
            const fileObj = this.files.get(file);

            fileObj.status = this.FILE_STATUS.COMPLETED;
            fileObj.percentage = 100;
            this.updateFileElement(fileObj);
        }

        trackUploadedFiles(uploadedFiles) {
            [...uploadedFiles].forEach((file) => this.setFileElement(file));

            this.s3ffClient = new S3FileFieldClient({
                baseUrl: 'http://localhost:8000/api/s3-upload/',
                onCompleted: (e, file) => this.onCompleted(e, file),
                onError: (e, file) => this.onError(e, file),
                onProgress: (e, file) => this.onProgress(e, file),
            });

            [...uploadedFiles].forEach(async (file) => {
                await this.s3ffClient.uploadFile(file, 'core.UploadedFile.file');
            });

            document.body.appendChild(this.progressBox);
        }
    }

    const fileInput = document.getElementById('id_file');
    const fileUploadTracker = new FileUploader();

    fileInput.addEventListener('change', (e) => {
        fileUploadTracker.trackUploadedFiles(e.currentTarget.files);
        e.currentTarget.value = '';
    });
</script>
{% endblock %}